body {
    background-color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.pc {
    display: none;
}


/* Mobile tab bar positioning and styling */
.mobile .tabbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
}

.mobile .tabbar a {
    text-align: center;
    color: black;
    font-size: 1.5rem;
    flex-grow: 1;
}

/* Style the top of mobile screen (title and setting button) */
header .top_display {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
}

.mobile h1 {
    display: inline;
    align-items: center;
    margin-left: 30px;
}


/* Mobile profile style*/
.user-info-mobile {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.377);
    margin-bottom: 1.5rem;
}

/* Font sizing for username, posts, follower, and following */
.username {
    font-size: 1.7rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.user h2 {
    font-family: 'Dancing Script', cursive;
}

.user-stats {
    font-size: 1.5rem;
    font-family: 'Dancing Script', cursive;
    margin-left: 5rem;
    margin-right: 5rem;
}

.bi {
    margin-top: 1.5rem;
    color: black;
}

.profile-container-mobile {
    width: 100%;
    display: flex;
    align-items: center;
}

.profile-icon-mobile {
    margin-top: 5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

h1 .user {
    display: block;
    width: 100%;
    position: relative;
    left: 50%;
}

/* photo gallery styling in the main page */
.gallery {
    display: flex;
}

.img-ls {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 5rem;
}

li {
    height: 40vh;
    margin: 0.2rem;
    flex-grow: 1;
}

.img-ls img {
    border-radius: 15px;
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

/* Positions the upload button icon */
header .bi-plus {
    position: fixed;
    right: 15%;
}

/* Positions the setting button in mobile */
header .bi-gear {
    position: fixed;
    right: 5%;
}

/* Style for photos in gallery view for mobile screen */
.mobile img {
    width: 100%;
    height: 450px;
    object-fit: contain;
    margin-bottom: 2rem;
}

/* Style for footer */
.all-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
    padding: 0;
    margin: 0;
}

.all-footer h2 {
    font-family: 'Dancing Script', cursive;
}

/* Style for the about section in website footer */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(65, 128, 205, 0.474);
    color: white;
    flex-basis: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.about p {
    padding-left: 20%;
    padding-right: 20%;
    font-size: large;
    font-family: cursive;
}

/* Style for the contact section in website footer */
.contact {
    display: flex;
    flex-direction: column;
    background-color: rgba(65, 128, 205, 0.474);
    color: white;
    align-items: center;
    margin-bottom: 2rem;
}

/* Set of styles for laptop sized screen */
@media (min-width: 1200px) {
    .mobile {
        display: none;
    }

    .pc {
        display: flex;
    }

    /* Style for the navigation bar */
    .topnav {
        background-image: url("../img/1600w-_Tcjok-d9b4.webp");
        background-size: cover;
        height: 5rem;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
    }

    /* Changes navigation tab colors when hovering */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        background-color: grey;
        color: white;
    }

    /* Icon styling for full screen */
    .icon-block {
        display: flex;
        align-items: center;
    }

    .icon {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
    }

    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 8px 8px;
        text-decoration: none;
        font-size: 25px;
        font-family: cursive;
    }

    /* Search bar styling */
    .search-block {
        display: flex;
        align-items: center;
        flex-basis: 5rem;
        font-family: cursive;
    }

    .topnav input[type=text] {
        padding: 6px;
        border: none;
        margin-top: 40px;
        margin-right: 16px;
        font-size: 17px;
        height: 2rem;
        width: 20rem;
        border: 1px solid #ccc;
    }

    .search {
        display: flex;
        align-items: center;
    }

    .search-button {
        height: 40px;
    }

    /* Images styling for large screen photo gallery */
    .img-ls {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin-left: 5.6rem;
        margin-right: 5.6rem;
        margin-top: 0rem;
    }

    li {
        height: 40vh;
        margin: 0.2rem;
        flex-grow: 1;
    }

    /* Style for photo filters under search bar */
    .pc form {
        display: flex;
        flex-basis: 10em;
        flex-wrap: wrap;
    }

    form .check {
        padding: 5px;
        margin-bottom: 20px;
        margin-right: 10px;
    }


    /* Sizing for upload button  */
    .plus-button {
        height: 2rem;
        width: 2rem;
    }
}